*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/migrations.xml
/.idea/.name
/.idea/.gitignore
/.idea/deviceManager.xml
# IntelliJ
.idea/
*.iml
*.iws
*.ipr

.idea/
